<!DOCTYPE html>
<html>
<body align="center">
    {% block form_block %}
    <form action='/parse/', method='post'>{% csrf_token %}
        <label for="lname">URI here:</label><br>
        <input type="text" id="lname" name="lname">
        <input type="submit" value="Parse">
    </form>
    <div class="status">
        Task status is: {{ status }}
    </div>
    <div class="pid">
        PID is: {{ pid }}
    </div>
    {% endblock %}
    <form action='/parse/', method='get'>
        <label for="pid">PID here:</label><br>
        <input type="text" id="lname" name="pid">
        <input type="submit" value="Get">
    </form>
    Saved PIDs:
    {% for pid in saved_pids %}
        <br>{{ pid }}</br>
    {% endfor %}
</body>
</html>